<h2><%= l(:rrr_label_redirect) %></h2>

<%= labelled_form_for :redirect, @redirect, :url => revision_redirect_path(@repository), :html => {:method => :put, :id => 'revision-redirect-form'} do |f| %>

  <%= error_messages_for 'redirect' %>

  <div class="box tabular">
    <p><%= f.check_box :revision_redirect, :label => :rrr_field_revision_redirect %></p>
    <p><%= f.check_box :diff_redirect, :label => :rrr_field_diff_redirect %></p>
    <p><%= f.check_box :repository_redirect, :label => :rrr_field_repository_redirect %></p>
  </div>

  <p>
    <%= submit_tag(@redirect.new_record? ? l(:button_create) : l(:button_save)) %>
    <%= link_to l(:button_cancel), settings_project_path(@project, :tab => 'repositories') %>
  </p>

<% end %>
